.login{
    margin-top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .salesforce-login-box{
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        height:500px;
        width: 350px;
        background: gray;
    }
}