<div class="opp-list">
    <!--<nav class="col-xs-12 text-center">
        <div id="tab1" class="col-xs-6"><h4>List View</h4></div>
        <div id="tab2" class="col-xs-6"><h4>Search View</h4></div>
    </nav>-->
    <div class="col-xs-12" id="tab1-view">
        <section>
            <h3>Your Events Starting Today - {{dateForToday}}</h3>
            <div class="form-group" *ngFor="let event of events">
                <div class="card owned-events" (click)="checkInThisEvent(event.id)">
                    <h4>{{event.name}}</h4>
                    <div><span class="glyphicon glyphicon-hand-right"></span></div>
                </div>
            </div>
        </section>
        <div class="col-xs-12"><hr></div>
        <section>
            <h3>Other Events</h3>
            <div class="col-xs-12 card other-events form-group">
                <div class="filters row form-group">
                    <div class="col-xs-6">
                        <label for="program">Program</label>
                        <select class="form-control" name="program" [(ngModel)]="program" (ngModelChange)="updateList()" >  
                            <option value="none" selected>none</option>
                            <option *ngFor="let program of programs" value="{{program}}">{{program}}</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label>Start Date</label>
                        <input class="form-control" type="date" name="start" [(ngModel)]="start" (ngModelChange)="updateList()" />
                    </div>
                </div>
            </div>
            <div class="form-group" *ngFor="let event of otherEvents">
                <div class="card owned-events"(click)="checkInThisEvent(event.id)">
                    <div>
                        <h4>{{event.name}}</h4>
                        <p>{{event.program}}</p>
                        <p>{{event.date}}</p>
                    </div>
                    <div><span class="glyphicon glyphicon-hand-right"></span></div>
                </div>
            </div>
        </section>
    </div>
</div>
