.opp-list{
    nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 5vh;
        background: #f0f0f0;
        border-bottom: 1px solid gainsboro;
        > div:first-of-type{
            border-right: 1px solid gainsboro;
        }
    }
    h3{
        color:white;
    }
    .card{
        background: rgba(244, 244, 244, 0.6);
        color: #131313;
        margin: 5px 0px;
        padding: 10px 15px;
        border-radius: 4px;
        &.owned-events{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            div:last-of-type span.glyphicon{
                font-size: 3.5rem;
                color: #464646;
            }
        }
        &.other-events{
             display: flex;
             flex-flow: column nowrap;
             justify-content: flex-start;

        }
    }

}