.app{
    nav{
        color:white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        div {
            height: 6vh;
        }
        h3{
            margin:0px;
            padding: 2rem; 
        }
        span{
            margin-right: 2rem;
            margin-left: 2rem;
            font-size: 3.5rem;
        }
    }
}


