<div class="app">
   <nav>
        <span *ngIf="goBack" (click)="back()" class="glyphicon glyphicon-hand-left"></span>
        <h3>Project Argos{{title}}</h3>
   </nav>
</div>
<router-outlet></router-outlet>