/* You can add global styles to this file, and also import other style files */
.gradient{
    position: fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    background-image: -webkit-linear-gradient(280deg, #174d83 20%,#226db7 50%, #00fff1);
    background-image: linear-gradient(170deg, #174d83 20%,#226db7 50%, #00fff1);
}

body > img {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    z-index: -1;
}
