.check-in{
    .tabs{
        > div{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            border-radius: 0px;
            color:white;
            > div {
                width: 100%;
                text-align: center;
                font-size: 18px;
                padding: 1.4rem 1rem; 
                background: rgba(255, 255, 255, 0.08);
                border: 1px solid rgba(244, 244, 244, 0.2);
                &:not(:last-of-type){
                    border-right: 0px;
                }
                &.active{
                    background: rgba(255, 255, 255, 0.77);
                    color: #333;
                }
            }
        }
    }
    .card{
        background: rgba(244, 244, 244, 0.6);
        color: #131313;
        margin: 5px 0px;
        padding: 10px 15px;
        border-radius: 4px;
        &.invitee-list{
            padding: 0px;
            margin:0px;
            font-size: 1.5rem;
            border-radius: 4px;
            .empty{
                padding: 1rem;
            }
            .flip-container {
                .success-msg{
                    background: rgba(255, 255, 255, 0.20);
                    
                }
                .card-header{
                    padding: 0px 15px;
                    font-weight: bold;
                    font-size: .8em;
                    height: 3rem;
                    background: rgba(255, 255, 255, 0.3);
                }
                > div {
                    height: 5rem;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
                    transform-style: preserve-3d;
                    transition: transform .5s;
                    &.flip{
                        transform: rotateX(180deg);
                        border: 0px;
                    }
                    i{
                        font-size: 3rem;
                    }
                    .front, .back{
                        position: absolute;
                        left: 15px;
                        width: 100%;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .front{
                        
                        transform: rotateX(0deg);
                    }
                    .back{
                        background: white;
                        color: #333;
                        height: 100%;
                        transform: rotateX(180deg);
                    }
                    .success-msg{
                        position: absolute;
                        display: none;
                    }
                    .action-button{
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        &.send{
                            background: #a94442;
                            color: white
                        }
                        &.check{
                            background: #3c763d;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    h3{
        color:white;
    }
    .sidebar{
        display: flex;
        position: fixed;
        top:0px;
        right:0px;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3em;
        height: 100vh;
       
        background: rgba(0, 0, 0, 0.3);
        a, .totals {
            color: white;
        }
        .totals{
            // height: -webkit-calc(100% - 15rem);
            // height: -moz-calc(100% - 15rem);
            height: 15rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            i{
                font-size: 2.5rem;
            }
        }
    }}