<div class="check-in">
  <div class="col-xs-12">
    <div class="row">
      <h3 class="col-xs-11">{{selectedEvent.public_name}}</h3>
    </div>
    <div class="tabs row">
      <div class="col-xs-11 form-group">
        <div (click)="changeView($event)" [class.active]="tabs.t1 == true" id="t1">Check In</div>
        <div (click)="changeView($event)" [class.active]="tabs.t2 == true" id="t2">Waiting</div>
        <div (click)="changeView($event)" [class.active]="tabs.t3 == true" id="t3">Completed</div>
      </div>
    </div>

    <div class="checkIn" *ngIf="tabs.t1" >
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="row card">
            <div class="input-group form-group">
              <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="form-group col-xs-12 col-sm-6">
              <label >Waiver Status</label><br>
              <div class="btn-group">
                <label class="btn btn-primary" >Completed</label>
                <label class="btn btn-primary" >Unsigned</label>
                <label class="btn btn-primary" >Both</label>
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
              <label >Participant Type</label><br>
              <div class="btn-group">
                <label class="btn btn-primary" >Adult</label>
                <label class="btn btn-primary" >Child</label>
                <label class="btn btn-primary" >Both</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="card invitee-list">
            <div *ngFor="let indv of needCheckedIn.list; let i = index" class="flip-container" [@shrink]="state">
              <div *ngIf="indv.header" id="{{indv.header}}" class="card-header">{{indv.header}}</div>
              <div *ngIf="!indv.header && indv.id == -1" class="front success-msg">
                <div class="col-xs-6">Completed</div>
                <div class="col-xs-6  text-center"><span (click)="undo()"><u>Undo</u></span></div>
              </div>
              <div *ngIf="indv.name && indv.id != -1 "  [class.flip]="needCheckedIn.flip[i]" (click)="flipMe(i)" >
                <div class="row front">
                  <div class="col-xs-6">{{indv.name}}</div>
                  <div class="hidden-xs col-sm-3 text-center">{{indv.type}}</div>
                  <div class="col-xs-6 col-sm-3 text-center">
                    <span *ngIf="indv.completed_requirements.includes('waiver')"><i class="text-success fa fa-check-square-o" aria-hidden="true"></i></span>
                    <span *ngIf="!indv.completed_requirements.includes('waiver')"><i class="text-danger fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div *ngIf="indv.id" class="row back">
                  <div class="col-xs-6">
                    {{indv.name}}
                  </div>  
                  <div class="col-xs-6 action-button send" *ngIf="!indv.completed_requirements.includes('waiver')" (click)="sendWaiver(indv.id)" >
                    <h4>Send a Waiver</h4>
                  </div>
                  <div class="col-xs-6 action-button check" *ngIf="indv.completed_requirements.includes('waiver')" (click)="checkIn(indv.id)">
                    <h4>Check In</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="waiting" *ngIf="tabs.t2">
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="row card">
            <div class="input-group form-group">
              <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="card invitee-list">
            <div *ngIf="waitingOnWaiver.list.length == 0" class="form-group empty text-center">
              <h4>There are no people here</h4>
              <h2 class="text-center"><i class="fa fa-frown-o" aria-hidden="true"></i></h2>
            </div>
            <div *ngFor="let indv of waitingOnWaiver.list" class="flip-container">
              <div *ngIf="indv.header" id="{{indv.header}}" class="card-header">{{indv.header}}</div>
              <div *ngIf="indv.name">
                  <div class="col-xs-6">{{indv.name}}</div>
                  <div class="hidden-xs col-sm-3 text-center">{{indv.email}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="completed" *ngIf="tabs.t3">
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="row card">
            <div class="input-group form-group">
              <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 form-group">
          <div class="card invitee-list">
            <div *ngIf="completed.list.length == 0" class="form-group empty text-center">
              <h4>There are no people here</h4>
              <h2 class="text-center"><i class="fa fa-frown-o" aria-hidden="true"></i></h2>
            </div>
            <div *ngFor="let indv of completed.list" class="flip-container">
              <div *ngIf="indv.header" id="{{indv.header}}" class="card-header">{{indv.header}}</div>
              <div *ngIf="indv.name">
                <div class="col-xs-6">{{indv.name}}</div>
                <div class="hidden-xs col-sm-3 ">{{indv.type}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-1 sidebar">
        <div class="totals text-center">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          {{inviteeNumber}}
        </div>
        <div *ngFor="let letter of alphabet"><a pageScroll [pageScrollDuration]="500" [pageScrollEasing]="ease" href="#{{letter}}">{{letter}}</a></div>
      </div>
    </div>
  </div>
</div>
